<ul class="posts">
    {% for post in posts %}
    <br/><br/>
     <li class="post">
        <div class="media">
          <div class="media-left pull-left">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="media-object" src="{{ post.author.gravatar(size=40) }}">
            </a>
            <div><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
                <a href="{{ url_for('.post',id=post.id)  }}">{{ post.title }}</a>
                <p class="small pull-right">{{ moment(post.timestamp).fromNow() }}</p>
            </h4>
            <p>{{ post.body |  truncate(400) }}</p>
          </div>
        </div>
    </li>
    {% endfor %}
</ul>
