{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}MyBlog - 主页{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Stay hungry,Stay foolish.</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="post-tabs">
            <ul class="nav nav-tabs">
                <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">热门文章</a></li>
                <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">最新文章</a></li>
            </ul>
            {% include '_postlist.html' %}
            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">公告栏</div>
          <div class="panel-body">
             <p>头像编辑功能稍后上线！</p> 
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">热门博主</div>
          <div class="panel-body">
            <table class="table table-hover followers">
             <thead><tr><th>排名</th><th>用户</th><th>热度</th></tr></thead>
             {% for user in popular %}
               <tr>
               <td>{{ loop.index }}</td>
               <td>
                 <a href="{{ url_for('.user', username = user.username) }}">
                   <img class="img-rounded" src="{{ user.gravatar(size=32) }}">
                   {{ user.username }}
                   </a>
              </td>
              <td>{{ user.posts.count()*5 }}</td>
              </tr>
            {% endfor %}
           </table>
           <a class"pull-right">更多>></a>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">关于我</div>
          <div class="panel-body">
            <p>作者:<a href="{{ url_for('main.user',username='xiaojian')}}">张潇健</a></p>
            <p>软件开发工程师，擅长C/C++、Python、Java、Go等语言，从事PC端应用软件、Web服务端、Android App等项目研发。</p>
            <p>Github:<a href="https://www.github.com/384782946">https://www.github.com/384782946</a></p>
            <p>邮箱:<a href="mailto:384782946@qq.com">384782946@qq.com</a></p>
            <p>微信请扫码：</p><a href="/static/img/wechat.jpg"><img src="/static/img/wechat.jpg" height="128" width="128"></img></a>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
